body {
  position: relative;
  font-family: Arial;
}

#board {
  box-sizing: border-box;
  position: relative;
}

.tile {
  border: 1px solid black;
  float: left;
  box-sizing: border-box;
}

.monster-active {
  background-color: red;
}

.hero-active {
  background-color: green;
}

.treasure-active {
  background-color: gold;
}

.cover {
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.cover p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  margin: 0;
  padding: 0;
}
